
/.vscode
output/pcbs/~sweeppp.kicad_pcb.lck
output/pcbs/fp-info-cache
output/pcbs/sweeppp.kicad_prl
output/pcbs/sweeppp.kicad_pro
output/pcbs/_autosave-sweeppp.kicad_pcb
output/pcbs/~_autosave-sweeppp.kicad_pcb.lck
